.box{
  height: 635px;
  /* width: 300px; */
  /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQIqKVUDud7MSu4IyYftUma_oZUn0i5_7UdgKpf-jAjLvX3UDMj&usqp=CAU); */
  text-align: center;
  background-color: skyblue;


}
.dayLight{
  background-color: black;
  color: white;  
}
.Add{
  height: 80px;
  width: 40px;
  font-size: xx-large;
  margin-left: 20px;
  border-radius: 20px;
  cursor: pointer;

}
.substract{
  height: 80px;
  width: 40px;
  font-size: xx-large; 
  border-radius: 20px;
  cursor: pointer;
}
.mode{
  text-align: left;
}
.reset{
  width: 90px;
  margin-top: 10px;
  height: 30px;
  border-radius: 18px;
  
}
button:hover{
  background-color: peachpuff;
}
button{
  cursor: pointer;
}